<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Agrega los permisos necesarios -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE" /> <!-- Permiso para acceder al Amacenamiento Externa -->
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Request legacy Bluetooth permissions on older devices. -->


    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Needed only if your app looks for Bluetooth devices. -->
   <uses-permission
       android:name="android.permission.BLUETOOTH_SCAN"
       android:required="false"
       android:usesPermissionFlags="neverForLocation"
       tools:targetApi="s" />

   <!-- Needed only if your app communicates with already-paired Bluetooth
       devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:required="false" />

    <!-- Needed only if your app makes the device discoverable to Bluetooth
       devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        android:maxSdkVersion="30"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        </intent>
    </queries> <!-- Agrega las características necesarias -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application

        android:name="com.solidtype.AtenasAplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Atenas_apk_2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gestion_facturar.domain.casos_usos.bluetooth.presentation.BluetoothActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BluetoothScanner"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.solidtype.ejemplos.ActivityEjemplo"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Splash"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>